<% content_for :title, t('admin.clubs.page_title') %>

<div class="page-header">
  <div>
    <h1><%= t('admin.clubs.title') %></h1>
    <p class="muted"><%= t('admin.clubs.subtitle') %></p>
  </div>
  <div class="actions">
    <%= link_to t('admin.common.dashboard'), admin_root_path, class: "button ghost" %>
  </div>
</div>

<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('admin.clubs.fields.id') %></th>
        <th><%= t('admin.clubs.fields.name') %></th>
        <th><%= t('admin.clubs.fields.owner') %></th>
        <th><%= t('admin.clubs.fields.icon') %></th>
        <th><%= t('admin.clubs.fields.members_count') %></th>
        <th><%= t('admin.clubs.fields.matches_count') %></th>
        <th><%= t('admin.common.view') %></th>
      </tr>
    </thead>
    <tbody>
      <% @clubs.each do |club| %>
        <tr>
          <td><%= club.id %></td>
          <td><%= club.name %></td>
          <td><%= club.user.email %></td>
          <td><%= club_icon(club.icon) %></td>
          <td><%= club.members.count %></td>
          <td><%= club.matches.count %></td>
          <td><%= link_to t('admin.common.view'), admin_club_path(club), class: "button ghost" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
