<% content_for :title, t('admin.users.page_title') %>

<div class="page-header">
  <div>
    <h1><%= t('admin.users.title') %></h1>
    <p class="muted"><%= t('admin.users.subtitle') %></p>
  </div>
  <div class="actions">
    <%= link_to t('admin.common.dashboard'), admin_root_path, class: "button ghost" %>
  </div>
</div>

<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('admin.users.fields.id') %></th>
        <th><%= t('admin.users.fields.email') %></th>
        <th><%= t('admin.users.fields.name') %></th>
        <th><%= t('admin.users.fields.admin') %></th>
        <th><%= t('admin.users.fields.clubs_count') %></th>
        <th><%= t('admin.common.view') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name.presence || "-" %></td>
          <td><%= user.admin? ? "Y" : "N" %></td>
          <td><%= user.clubs.count %></td>
          <td><%= link_to t('admin.common.view'), admin_user_path(user), class: "button ghost" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
