<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= @club&.name || "농구 클럽 매니저" %> - 경기 결과</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Styles -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    

  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center p-4">
    <%= yield %>
  </body>
</html>
